/* Match the dashboard background color when charts are not shown */
html, body {
  background-color: #222222 !important; 
}

#output-container {
  background-color: #222222 !important; 
  min-height: 400px;
}

/* Output Container */
#output-container {
  border: 1px solid #222222 !important; 
  box-shadow: none !important;
}

/* Drop-down */
.Select-control {
  border-radius: 10px;
}

/* Charts */
.chart-item {
  padding: 10px;
}

/* KPI Cards */
.kpi_cards_outer {
    text-align: center;
}

.kpi_cards_inner {
    display: inline-block;
    background-color: rgb(49, 49, 49);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    padding: 40px;
    border-radius: 12px;
    margin-right: 40px;
}

